@model SalesMvc.Models.Department;
@{
    ViewData["Title"] = "Remove";
}
<div>
    <h4>Department</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>    
            @Html.DisplayNameFor(x => x.Name)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.Name)
        </dd>
    </dl>
    <form asp-action="Remove">
        <input type="hidden" asp-for="Id" />
        <input type="submit" asp-all-route-id="@Model.Id"  class="btn btn-danger" value="Remove"/> 
        <a asp-action="Index">Cancel and return to Index</a>
    </form>
</div>