
@model IEnumerable<SalesMvc.Models.Seller>
@{
    ViewData["Title"] = "Index";
}

<h1>Sellers</h1>
<a asp-action="Create" class="btn btn-primary">Create</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>BirthData</th>
            <th>BaseSalary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Name)</td>
                <td>@Html.DisplayFor(x => item.Email)</td>
                <td>@Html.DisplayFor(x => item.BirthData)</td>
                <td>@Html.DisplayFor(x => item.BaseSalary)</td>
                <td>
                    <a asp-action="Edit" asp-route-id=@item.Id>Edit</a>
                    <a asp-action="Details" asp-route-id=@item.Id>Datails</a>
                    <a asp-action="Remove" asp-route-id=@item.Id>Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>